# Recommender System Using MovieLens DataSet
## https://grouplens.org/datasets/movielens/
## 1. Cleaning DataSet

Checking data

In [28]:
import pandas as pd
df = pd.read_csv('~/Data/MovieLens/ratings.csv') # load rating file
df.head(10)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826

In [5]:
df.index.values # checking index

array([       0,        1,        2, ..., 20000260, 20000261, 20000262])

In [31]:
# Drop unwanted columns

df.drop("timestamp", inplace=True, axis=1)
df.head(5)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580